name: Deploy PWA

on:
  push:
    branches:
      - main  # Nebo 'master' podle toho, jak se jmenuje vaše hlavní větev

permissions:
  contents: write  # Zásadní pro opravu chyby 128 (umožňuje zápis do gh-pages)

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./  # Adresář, který se má publikovat (kořen projektu)
          force_orphan: true # Užitečné, pokud větev gh-pages existuje v divném stavu

